.breadcrumbWrap {
  margin-top: -8px;
  margin-bottom: 16px;
  height: 22px;
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
}

.itemLast {
  color: #8c8c8c;
}

.breadcrumbItem {
  color: #262626;
  cursor: pointer;

  &:hover {
    color: #009688;
  }
}

.breadcrumbArrow {
  color: #999;
  margin: 0 10px;
}
