.page {
  position: relative;
  display: flex;
  flex-direction: column;
  //margin: -24px;
  min-height: calc(100vh - 32px);
  box-sizing: border-box;
  background-color: #fff;

  &_content {
    margin-top: 50px;
    //padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
  }
}

.menu {
  margin: -16px -12px;
  padding-left: 16px;
  display: flex;
  height: 64px;
  align-items: center;
  box-sizing: border-box;

  &_logo {
    width: 24px;
    height: 23px;
  }

  &_title {
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    color: #292929;
  }
}
