.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detailContainer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 16px;
}

.statusDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;

  :global {
    .status-text {
      .status-title {
        margin-bottom: 6px;
        font-size: 20px;
        font-weight: 700;
        color: #1b1d20;
        line-height: 30px;
      }

      .status-description {
        font-size: 16px;
        font-weight: 400;
        color: #8c8c8c;
        line-height: 26px;
      }
    }

    .status-step {
      display: flex;
      align-items: center;
      gap: 120px;

      .status-icon-item {
        position: relative;

        .icon-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 2px;

          .status-step-text {
            font-size: 14px;
            font-weight: 400;
            color: var(--color);
            line-height: 22px;
          }
        }

        .line {
          width: 90px;
          border-top: 1px solid var(--color);
          position: absolute;
          left: 66px;
          top: 22px;
        }

        .line.line-dashed {
          border-top: 1px dashed #8c8c8c;
        }

        .line-0 {
          left: 68px;
        }

        .line-1 {
          left: 72px;
        }

        .line-2 {
          left: 74px;
        }
      }
    }
  }
}

.exceptionCase {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  overflow: hidden;

  :global {
    .exception-title {
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 400;
      color: #f5222d;
      line-height: 30px;
    }
  }
}

.shippingRecordMap {
  position: relative;

  :global {
    .curPosition {
      max-width: 400px;
      padding: 12px;
      background: #fff;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 10%);
      border-radius: 2px;
      position: absolute;
      left: 10px;
      bottom: 10px;

      .positionTime {
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 400;
        color: #8c8c8c;
        line-height: 22px;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .positionAddress {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .icon {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .font {
        .ellipsis;
      }
    }

    .errorCase {
      // max-width: 400px;
      position: absolute;
      left: 10px;
      bottom: 10px;
    }
  }
}

.fee {
  &_header {
    margin: 0 -16px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    height: 44px;
    border-bottom: 1px solid #eff1f4;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
  }

  &_item {
    padding: 0 16px 16px;
    border: 1px solid #eff1f4;

    &_line {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 22px;
    }

    &_label {
      font-size: 16px;
      font-weight: 400;
      color: #1f1f1f;
    }

    &_value {
      font-size: 16px;
      font-weight: 500;
      color: #1b1b1b;
    }
  }
}

.infor {
  display: flex;
  flex-wrap: wrap;
  row-gap: 13px;
  width: 100%;

  &_item {
    padding-right: 20px;
    width: 20%;

    &_label {
      display: flex;
      align-items: center;
      height: 26px;
      font-size: 14px;
      font-weight: 400;
      color: #56586e;
    }

    &_value {
      width: 100%;
      // word-break: break-all;
      // white-space: pre-wrap;
      font-size: 14px;
      font-weight: 500;
      color: #151515;
      line-height: 26px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.customerCode {
  margin-top: 24px;
  display: flex;

  &_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px 77px;
    border: 1px dashed rgba(0, 0, 0, 10%);
    padding: 11px 12px;
  }

  &_popover {
    width: 177px;
    font-size: 14px;
    padding: 0 2px;
  }

  &_item {
    width: 143px;
  }

  &_label {
    color: #838ca1;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_value {
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
  }
}

.moduleRoute {
  :global {
    .mapCase {
      margin-bottom: 16px;
    }

    .routeList {
      .routeTitle {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        line-height: 30px;
      }

      .contentList {
        max-height: 188px;
        overflow: hidden auto;

        .contentItem {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          gap: 6px;

          &:last-child {
            margin-bottom: 0;
          }

          .icon {
            flex-shrink: 0;
            flex-grow: 0;
          }

          .contentItemText {
            .region {
              margin-bottom: 4px;
              font-size: 14px;
              font-weight: 500;
              color: #1f1f1f;
              line-height: 18px;
            }

            .address {
              font-size: 14px;
              font-weight: 400;
              color: #8c8c8c;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

.pod {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 120px;

  &_file {
    display: flex;
    gap: 16px;
    // margin-top: 12px;

    &_text {
      color: rgba(0, 0, 0, 45%);
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

.listItemViewPreview {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }

  :global {
    .listItemMaterials {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      .more {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        cursor: pointer;
        padding-bottom: 18px;
        font-size: 18px;
        color: #009688;
      }
    }

    .listItemMaterial {
      height: 140px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .cardListItemMaterial {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .materialItem {
        width: 120px;
        height: 120px;
      }
    }
  }
}
