.imagePreviewGroup {
  user-select: none;
}

:global {
  .ant-image-preview-img-wrapper {
    width: 88%;
    margin: 0 auto;
  }

  .ant-image-preview-close {
    background-color: rgba(0, 0, 0, 25%);
  }

  .ant-image-preview-operations {
    background-color: rgba(0, 0, 0, 25%);
  }

  .ant-image-preview-switch-left {
    background-color: rgba(0, 0, 0, 25%);
    inset-inline-start: 36px !important;

    svg {
      fill: #fff !important;
    }
  }

  .ant-image-preview-switch-right {
    background-color: rgba(0, 0, 0, 25%);
    inset-inline-end: 36px !important;

    svg {
      fill: #fff !important;
    }
  }
}
