.accredDetail {
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 16px;

  :global {
    .application-no {
      margin-bottom: 12px;
      color: var(--character-primary-88);
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
    }
  }
}
