.homePage {
  display: flex;
  flex-direction: column;
  gap: 16px;

  :global {
    .gm-style-iw {
      .gm-style-iw-chr {
        .gm-style-iw-ch {
          height: 1px;
          padding: 0;
        }

        .gm-ui-hover-effect {
          width: 16px !important;
          height: 16px !important;
          position: absolute !important;
          top: 12px !important;
          right: 12px !important;

          > span {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
