.btnWrap {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.orange,
.blue,
.green,
.red,
.gray {
  cursor: initial;
}

.orange {
  color: #f28532;

  &:hover {
    color: #f28532 !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.blue {
  color: #1890ff;

  &:hover {
    color: #1890ff !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.green {
  color: #52c41a;

  &:hover {
    color: #52c41a !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.red {
  color: #ff4d4f;

  &:hover {
    color: #ff4d4f !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.gray {
  color: #b9b9b9;

  &:hover {
    color: #b9b9b9 !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.primary {
  color: #1890ff;

  &:hover {
    color: #1890ff !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 25%) !important;
  }
}

.noStyle {
  padding: 0 !important;
}
