.google-map-waypoint-label {
  font-size: 16px;
  font-weight: 700;
  color: #f18e42;
  line-height: 16px;
  position: relative;
  bottom: 8px;
}

.google-map-rotate-tilt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 10px;
  border: 0;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  // &:hover {
  //   // background: rgb(235, 235, 235);
  //   background: rgba(0, 150, 136, 100%);
  //   color: #fff;
  // }
}

.gm-style img[alt='Google'] {
  display: none;
}
