body,
#root {
  --primary-color: #009688;
  --danger-color: #ff4d4f;
  --orange-color: #f28532;
  --header-height: 50px;
  --base-padding: 16px;
  --character-title-85: rgba(0, 0, 0, 85%);
  --character-title-65: rgba(0, 0, 0, 65%);
  --character-title-45: rgba(0, 0, 0, 45%);
  --character-title-25: rgba(0, 0, 0, 25%);
  --character-title-15: rgba(0, 0, 0, 15%);
  --character-primary-88: rgba(0, 0, 0, 88%);
  --character-primary-85: rgba(0, 0, 0, 85%);
  --character-primary-65: rgba(0, 0, 0, 65%);
  --character-primary-45: rgba(0, 0, 0, 45%);
  --character-primary-25: rgba(0, 0, 0, 25%);
  --character-primary-15: rgba(0, 0, 0, 15%);
}
