.customTabs {
  user-select: none;

  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
      padding-left: 12px;
      background-color: #fff;

      .ant-tabs .ant-tabs-tab {
        padding: 8px 0;
      }
    }

    .ant-tabs-content-holder {
      min-height: 400px;

      .ant-table-wrapper {
        min-height: 300px;
      }
    }
  }
}

.tabBar {
  background-color: #fff;
}
